@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
.text-animation {
  display: inline-block;
  position: relative;
  color: transparent;
  text-transform: uppercase;
}
.text-animation:before {
  content: "";
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff;
  width: 0;
  height: 1.2em;
  transform: translate(-50%, -55%);
}
.text-animation.state-1:before {
  width: 1px;
}
.text-animation.state-2:before {
  width: 0.9em;
}
.text-animation.state-3 {
  color: rgb(255, 255, 255);
}
.text-animation.state-3:before {
  width: 0;
}

