@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --scrollbar-bg: rgb(1 2 3 / 40%);
}
/* ------------------------------Scroll Bar---------------------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

/* --------preventing selection------------------- */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* -----------body-------------------------------- */
body {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ----------Glassmorphism-------------- */

.glassmorphism-bg {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(81.55px);
  border: 2px solid rgba(255, 255, 255, 0.123);
  padding: 30px;
}

/* ------------Navbar-------------- */
.navbar-brand img {
  height: 50px !important;
  padding: 0 0 0 30px !important;
}

.navbar-custom {
  background: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(81.55px);
  border: 2px solid rgba(255, 255, 255, 0.123);
}

.navbar-text {
  color: white !important;
  font-size: 1.25rem !important;
  margin: 0 30px 0 30px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

/* ------------------Home------------- */
.home-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-text {
  position: absolute;
  font-size: 10rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 450px) {
  .home-text {
    font-size: 2.25rem !important;
  }
}

@media screen and (max-width: 600px) {
  .home-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1300px) {
  .home-text {
    font-size: 4rem;
  }
}

.text-animation {
  display: inline-block;
  position: relative;
  color: transparent;
  /* text-transform: uppercase; */
}
.text-animation:before {
  content: "";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff;
  width: 0;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.text-animation.state-1:before {
  width: 1px;
}
.text-animation.state-2:before {
  width: 0.9em;
}
.text-animation.state-3 {
  color: rgb(255, 255, 255);
}
.text-animation.state-3:before {
  width: 0;
}

/* ----------section--------- */
section {
  margin-bottom: 150px;
}

/* -----------OUR AIM SECTION---------- */
.our-aim {
  color: rgba(245, 245, 245, 0.699);
  font-size: 1.4rem;
  border-radius: 20px;
  padding: 30px !important;
  margin: 20px;
  font-family: "Poppins", sans-serif;
}

.sub-heading {
  font-size: 3rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.123);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.our-aim-text {
  text-align: justify;
  padding-top: 15px;
}

@media screen and (max-width: 450px) {
  .our-aim {
    font-size: 1rem !important;
  }

  .sub-heading {
    font-size: 1.75rem !important;
  }
}

@media screen and (max-width: 600px) {
  .our-aim {
    font-size: 1.25rem;
  }

  .sub-heading {
    font-size: 3rem;
  }
}
/* ------------------OUR TEAM------------------------------- */

.our-team {
  justify-content: center;
  color: rgba(245, 245, 245, 0.699);
  font-size: 1.5rem;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 20px !important;
}
/* -------glass card--------- */

.container .card-glass {
  position: relative;
  width: 300px;
  height: 450px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container .card-glass .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}
.container .card-glass:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card-glass .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card-glass .content .imgBx img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.container .card-glass .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container .card-glass .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 500;
  text-transform: initial;
}

.card-glass .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.container .card-glass .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.container .card-glass:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}
.container .card-glass .sci li a {
  color: #fff;
  font-size: 24px;
}

/* -----------FOOTER------------------- */

.glassmorphism {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.glassmorphism ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.glassmorphism ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}
.glassmorphism ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.glassmorphism ul li a:hover {
  transform: translateY(-10px);
}
.glassmorphism ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skew(45deg) translateX(150px);
  transition: 0.5s;
}
.glassmorphism ul li a:hover::before {
  transform: skew(45deg) translateX(-150px);
}

.copyright {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.25rem;
}

@media screen and (max-width: 450px) {
  .copyright {
    font-size: 0.75rem !important;
  }
}

@media screen and (max-width: 600px) {
  .copyright {
    font-size: 1rem;
  }
}

/* removing extra padding */
footer ul {
  /* list-style: none; */
  display: block;
  padding-left: 0px !important;
}
